.main-content {
  width: 100%;
}
td{
  border: thin red solid;
}
.hero{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size:cover;
  height: 400px;
}
body{
  font-family: 'Montserrat', sans-serif;
}
button{
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;

}

.heading-row{
  text-align: center;;
}
.heading-row-top{
  text-align: center;
  vertical-align: top
}
.how-to-image{
  width: 200px;
  border-radius: 50%;
  vertical-align: top;

}
.how-to-cell{
  text-align: center;
  vertical-align: top;
}
.navbar{
  background-color: rgb(246,52,64);
  color:white;
  font-family: 'Passion One', cursive;
  font-size: XX-large;
  padding-left: 10px;
}
.othernavbar{
  background-color: rgb(246,52,64);
  color:white;
  padding-left: 10px;
}
.graybackground{
  background-color: rgb(238,238,238);
  text-align: center;
}
.graybackgroundwithpicture{
  background-color: rgb(238,238,238);
  text-align: center;
  vertical-align: top;
}
.users{
  border-radius: 50%;
  width: 50px;
}
.apphero{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("download-hero.jpg") no-repeat center center;
  background-size:cover;
  height: 400px;
}
.whycontent{
    border-radius: 50%;
    width: 200px;
}
.textblock{
  padding-left: 10px;
  padding-right: 10px;
}

.blueback{
  background-color: rgb(50,50,170);
  color: white;
  padding-left: 10px;
  vertical-align: top;
  padding-right: 10px;
}

.li-footer{
  margin-bottom: 10px
}
