td{
  border:thin red solid;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.main_content {
  width: 100%;
}
.navbar{
  background-color: rgb(246,53,64);
  color: white;
  text-align: left;
}
.navbar a {
  color: white !important;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Passion One";
  font-size: xx-large;
}
.hero{
  color: white;
  text-align: center;
  align-items: center;
  background: url("main-hero.jpg") no-repeat center bottom;
  background-size: cover;
  height: 300px;
}

.downlo{
  color: white;
  text-align: center;
  align-items:center;
  background: url("download-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  vertical-align: middle;
}

button{
  background-color: rgb(0,126,229);
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
.round-image{
  border-radius:50%;
}
.exp-image{
  width:200px;
}
.user-image{
  width:50px;
}
.footer{
  background-color: rgb(50,50,170);
  color:white;
  text-align: left;
}
.center{
  text-align: center;
}
.sound-bites, .why{
  background-color: rgb(238,238,238);
}

.store-badge {
  width: 200px;
}
/* Padding */
.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
