.main-content{
  width: 100%;
}

td{
  border: thin red solid;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.navigation-bar{
  background-color: red;
  color: white;
}

.navigation-header{
  font-family: 'Passion One', cursive;
  font-size: xx-large;
}

.hero {
  text-align: center;
  background: url("main-hero.jpg"); no-repeat center center;
  background-size: cover;
  height: 300px;
  color: white;
}

button {
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

.heading-row {
  text-align: center;
}

.how-to-image{
  width: 200px;
  border-radius: 50%;
}

.how-to-cell {
  text-align: center;
}

.sound-bite-image{
  width:50px;
  border-radius:50%;
  no-repeat center top:
}

.sound-bite-cell{
  text-align:center;
}

.twitter-name{
  font-weight: bold;
}

.download-apps {
  text-align: center;
  background: url("download-hero.jpg");
  no-repeat center center;
  background-size: cover;
  height: 450px;
  color: white;
}

.badge {
  height: 50px;
  width: 200px;
}

.why-order-cell{
  text-align: center;
  no-repeat center top;
}

.why-order-image{
  width: 200px;
  border-radius: 50%;
  no-repeat center top;
}

.footer{
  background-color: purple;
  color: white;
}
