.main-content {
  width: 100%;
}
td{
  border: thin red solid;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
.hero{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size:cover;
  height: 400px;
  vertical-align: middle;
}
body{
  font-family: 'Montserrat', sans-serif;
}
button{
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;

}

.heading-row{
  text-align: center;
}
.heading-row-top{
  text-align: center;
  vertical-align: top
}
.how-to-image{
  width: 200px;
  border-radius: 50%;
  vertical-align: top;

}
.how-to-cell{
  text-align: center;
}
.navbar-brand{
  font-family: 'Passion One', cursive;
  font-size: XX-large;
}
.navbar{
  background-color: rgb(246,52,64);
  vertical-align: middle;
}
.navbar a{
  color: white!important;
  text-decoration: none;
}
.graybackground{
  background-color: rgb(238,238,238);
  text-align: center;
}
.graybackgroundwithpicture{
  background-color: rgb(238,238,238);
  text-align: center;
  vertical-align: top;
}
.users{
  border-radius: 50%;
  width: 50px;
}
.apphero{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("download-hero.jpg") no-repeat center center;
  background-size:cover;
  height: 400px;
}
.whycontent{
  border-radius: 50%;
  width: 200px;
}
.textblock{
  padding-left: 10px;
  padding-right: 10px;
}

.blueback{
  background-color: rgb(50,50,170);
  color: white;
  padding-left: 10px;
  vertical-align: top;
  padding-right: 10px;
}

.li-footer{
  margin-bottom: 10px
}

.tagline {
  font-size: 22px;
}

/* Standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}

.h4-footer  {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
