.main-content{
  width: 100%;
}

td{
  border: thin red solid;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.first-row{
  background-color: rgb(246, 52, 64);
  color: white;
}

.foodhub-logo{
  font-size: 30px;
}

.hero{
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  color: white;
}

.heading-row{
  text-align: center;
}

.how-to-image{
  width: 200px;
  border-radius: 50%;
}

.how-to-cell{
  text-align: center;
  vertical-align: top;
}

.user-images{
  width: 50px;
  border-radius: 50%;
}

.download-apps{
  text-align: center;
  color: white;
  background: url("download-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
}

.tagline{
  font-size: 22px;
}

.badge-size{
  height: 60px;
}

.icon-images{
  width: 200px;
  border-radius: 50%;
}

.bottom-row{
  background-color: rgb(50, 50, 170);
  color: white;
  vertical-align: top;
}

.align-top{
  vertical-align: top;
}

.gray-back{
  background-color: rgb(238, 238, 238);
}

button{
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
