.main-content {
  width: 100%;
}

.heading-row {
  text-align: center;
}

.how-to-image {
  width: 200px;
  border-radius: 50%;
}

.how-to-cell {
  text-align: center;
}

td {
  border: thin red solid;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  color: white;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
}

button {
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
