.main-content{
  width: 100%;
}

td{
  border: thin red solid;
  padding-left: 10px;
  padding-right: 10px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.first-row{
  background-color: rgb(246, 52, 64);
  vertical-align: middle;
}

.first-row-text{
  color: white;
  text-decoration: none;
}

.brand{
  font-family: "Passion One";
  font-size: xx-large;
}

.foodhub-logo{
  font-size: 30px;
}

.hero{
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  color: white;
}

.heading-row{
  text-align: center;
}

.how-to-image{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.how-to-cell{
  text-align: center;
  vertical-align: top;
}

.user-images{
  width: 50px;
  border-radius: 50%;
}

.download-apps{
  text-align: center;
  color: white;
  background: url("download-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 404px;
  vertical-align: middle;
}

.tagline{
  font-size: 22px;
}

.badge-size{
  height: 60px;
  width: 200px;
  margin-bottom: 0px;
}

.icon-images{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.bottom-row{
  background-color: rgb(50, 50, 170);
  color: white;
  vertical-align: top;
}

.h4-bottom{
  margin-bottom: 10px;
}

.align-top{
  vertical-align: top;
}

.gray-back{
  background-color: rgb(238, 238, 238);
}

li{
  margin-bottom: 10px;
}

button{
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
