.main-content {
  width: 100%;
}
td{
  border: thin red solid;
}
.hero{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size:cover;
  height: 300px;
}
body{
  font-family: 'Montserrat', sans-serif;
}
button{
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;

}

.heading-row{
  text-align: center;;
}
.how-to-image{
  width: 200px;
  border-radius: 50%;

}
.how-to-cell{
  text-align: center
}
.navbar{
  background-color: rgb(246,52,64);
  color:white;
}
