/* general formatting content*/
.main-content {
  width: 100%;
}

td {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  border: thin red solid;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

button {
  background-color: rgb(0,126,229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

/*Navigation*/
.navbar-title {
  color: white;
  font-family: 'Passion One', sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.navbar {
  background-color: rgb(246,52,64);
  color:white;
  text-decoration=none;
  vertical-align: middle;
}

.navbar-icon {
  vertical-align: middle;
  font-size: x-large;
}

/*Hero*/
.hero {
  color: white;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  vertical-align: middle;
}

/*How to heading*/
.heading-row {
  text-align: center;
}

/*How to content*/
.how-to-cell {
  text-align: center;
}

.how-to-image {
  width:200px;
  border-radius: 50%;
}

/*Sound bites heading*/
.sound-bites-row {
  background-color: rgb(238, 238, 238);
  text-align: center;
}

/*Sound bites content*/
.sound-bites-cell {
  text-align: center;
  vertical-align: top;
}

.sound-bites-image {
  width:50px;
  border-radius: 50%;
}

/*Download apps*/
.download {
  color: white;
  text-align: center;
  vertical-align: middle;
  background: url("download-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 400px
}

.badge {
  width:200px;
  height:60px;
}

/*Why order heading*/
.why-order-row {
  background-color: rgb(238, 238, 238);
}

/*Why order content*/
.why-order-image {
  width:200px;
  border-radius: 50%;
}

.why-order-cell {
  text-align: center;
}

/*About*/

/*Footer*/

.footer {
  background-color: rgb(50, 50, 170);
}
.h4-footer {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  vertical-align: top;
}

.li-footer {
  color: white;
  margin-bottom: 10px;
}

/*Vertical spacing classes*/
.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
