.main-content {
  width: 100%;
}
td{
  border: thin red solid;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.heading{
  color: white;
  background-color: red;
  height: 35px;

}
.hero{
  color: white;
  text-align: center;
  background: url("main-hero.jpg")
  no-repeat center bottom;
  background-size: cover;
  height: 400px;
}
Button {
  background-color: rgb(0,126,229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
.heading-row{
  text-align: center;
}
.how-to-image{
  width: 200px;
  border-radius: 50%;
}
.user-image{
  width: 50px;
  border-radius: 50%;
}
.user{
  text-align: center;
  background-color: rgb(230,230,230)
}
.how-to-cell{
  text-align: center;
}
.sound-bite-heading{
  text-align: center;
  background-color: rgb(230,230,230)
}
.download{
  color: white;
  text-align: center;
  background: url("download-hero.jpg")
  no-repeat center bottom;
  background-size: cover;
  height: 400px;
}
.app-store-badge{
  height: 60px
}
.why{
  text-align: center;
  background-color: rgb(230,230,230)
}
.why-order-box{
  text-align: center;
  background-color: rgb(230,230,230)
}
.why-order{
  width: 200px;
  border-radius: 50%;

}
