.landing-content {
  width:100%;
}
td {
  border: thin red solid;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.foodhub-title{
  font-family: 'Passion One', cursive;
  font-size:35px;
  padding-left: 10px;
  color:white;
  background-color: rgb(246,52,64);
}

.header-bar{
  color:white;
  padding-left:10px;
  background-color:rgb(246,52,64);
}

.hero{
  color:white;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size:cover;
  height:300px;
}
button{
  background-color:rgb(0,126,229);
  color:white;
  height:40px;
  width:200px;
  border-radius:5px;
}

.input-1{
  padding-top:10px;
  padding-bottom: 15px;
}

.how-to,.sound-bite{
  text-align: center;
}

.how-to-photo{
  width:200px;
  border-radius:50%;
  vertical-align: text-top;
}

.how-to-photocell{
  text-align:center;
  vertical-align: text-top;
}

.sound-bite{
  background-color: rgb(238,238,238);
}

.user-photo{
  width:50px;
  border-radius:50%;
  vertical-align: text-top;
}

.user-cell{
  text-align:center;
  vertical-align: text-top;
  background-color: rgb(238,238,238);
}

.download-hero{
  text-align:center;
  color:white;
  background: url("download-hero.jpg") no-repeat center center;
  background-size:cover;
  height:400px;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 20px;
}

.badge{
  width:200px;
}

.whyorder{
  text-align:center;
    background-color: rgb(238,238,238);
}

.reasons{
  text-align:center;
  background-color: rgb(238,238,238);
  vertical-align: text-top;
}

.reasons-photo{
  width:200px;
  border-radius:50%;
  vertical-align: text-top;
}

.about{
  text-align:center;
  vertical-align: text-top;
}

.about-desc{
  padding-left: 10px;
  padding-right:10px;
}

.footer{
  background-color:rgb(50, 50, 170);
  text-align: left;
  vertical-align:text-top;
  padding-left: 10px;
  color:white;
  line-height: 2;
}
